extends base.pug

append main_vars
  - css_main.push("css/login.css")
  //- js_main.push("js/login.js")

block content
  .login-wrapper
    .login-container
      h1 Sign In
      form(action="/login", method="POST")
        .form-group
          label(for="email") Email:
          input#email(type="email", name="email", required, placeholder="Enter your email")
        .form-group
          label(for="password") Password:
          input#password(type="password", name="password", required, placeholder="Enter your password")
        button.btn(type="submit") Login
      .divider
        span Or login with
      .social-login
        a.btn-social(href="/auth/google")
          i.fa-brands.fa-google
          |  Google
      .additional-links
        a(href="/register") Sign Up
        br
        a(href="/forgot-password") Forgot Password?